body {
  margin: 20px 25px 25px 25px;
}

pre {
  border-radius: 5px;
}

h1 {
  text-shadow:
    0 0 5px #0f0,
    0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 40px #0f0,
    0 0 80px #0f0,
    0 0 90px #0f0,
    0 0 100px #0f0,
    0 0 150px #0f0;
}  
