.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: rgb(0, 95, 210);
  stroke-width: 1px;
}

.area {
  fill: #e2e2e2;
}