svg#chart1{
    background-color: white;
    width:1150px;
    height:686px;
}

rect.bar { /*style for rect with class bar*/
    fill: skyblue;
    height: 30px;	
  }

text.bar { /*style for text with class bar*/
fill: black;
font-size: 14px;
}

text.label {
    fill:black;
    width:40px;
}
div.bar {
    background-color: skyblue;
    margin-bottom: 6px;
    text-align: right;
    height: 30px;
  }
  
  div.bar.q5 {
    background-color: skyblue; 
    margin-bottom: 6px;
    text-align: right;
    padding-right: 5px;
    height: 30px;
  }